import { PubNubLogger } from "../log/PubNubLogger";
import { PubNubNetworking } from "../net/PubNubNetworking";
import { PubNubParser } from "../parse/PubNubParser";
{{foo}}
{{#endpoints}}
{{> includes/importEndpoint}}

{{/endpoints}}
{{> includes/importMethodParamTypes}}

class Api {

  constructor(
    public net: Networking,
    public parse: Parser,
    public log: Logger,
  ) {}

{{#endpoints}}
{{> includes/apiMethod}}

{{/endpoints}}
}