import { Logger } from "core/modules/log/Logger";
import { Networking } from "core/modules/net/Networking";
import { Parser } from "core/modules/parse/Parser";
{{#endpoints}}
{{> includes/importEndpoint}}

{{/endpoints}}
{{> includes/importApiMethodParamTypes}}

export class Api {

  constructor(
    public net: Networking,
    public parse: Parser,
    public log: Logger,
  ) {}

{{#endpoints}}
{{> includes/apiMethod}}

{{/endpoints}}
}