import { Logger } from "../../log/Logger";
import { Networking } from "../../net/Networking";
import { Parser } from "../../parse/Parser";
{{> includes/importEndpointMethodParamTypes}}

export class {{title}} {
  private httpMethod: string = '{{httpMethod}}';

  constructor(
    public net: Networking,
    public parse: Parser,
    public log: Logger,
  ) {}

  static validate({{> includes/parameterList }}) {

{{#parameters}}
{{> includes/parameterValidate }}

{{/parameters}}
    return true;
  }

  static execute({{> includes/parameterList }}) {
    // ...
  }

}