import { Logger } from "core/modules/log/Logger";
import { Networking } from "core/modules/net/Networking";
import { Parser } from "core/modules/parse/Parser";
{{> includes/importEndpointMethodParamTypes}}

export class {{title}} {
  private httpMethod: string = '{{httpMethod}}';

  constructor(
    public net: Networking,
    public parse: Parser,
    public log: Logger,
  ) {}

  static validate({{> includes/parameterList }}): boolean {

{{#parameters}}
{{> includes/parameterValidate }}

{{/parameters}}
    return true;
  }

  static execute({{> includes/parameterList }}): boolean {
    // ...
    return true;
  }

}