openapi: 3.0.1
info:
  title: PubNub Push Notifications || APN & GCM APIs
  description: PubNub Push Notification APIs for managing Push Notifications settings
  contact:
    name: PubNub Support
    url: https://www.pubnub.com/support
    email: support@pubnub.com
  termsOfService: https://www.pubnub.com/terms-and-conditions/
  version: 1.0.0
servers:
  - url: https://ps.pndsn.com
tags:
- name: Push Notifications
  description: PubNub push notification service supports apple, google and microsoft push notification service plateforms.
paths:
  /v2/push/sub-key/{sub_key}/devices-apns2/{devices-apns2}:
    get:
      tags:
      - Push Notifications
      summary: Managing device registrations (APNS HTTP/2)
      operationId: manageDeviceRegistrationsAPNS2
      description: >
        Add and(or) remove channels in a single API call

        Returns array with two elements:
        * Array Element 0 - Integer – 1 or 0, where 1 is success, and 0 is error.
        * Array Element 1 - String – Description of the success or error, if available. e.g "Modified Channels"
      parameters:
      - $ref: '#/components/parameters/SubKeyPathParam'
      - $ref: '#/components/parameters/DeviceApns2PathParam'
      - $ref: '#/components/parameters/UuidQueryParam'
      - $ref: '#/components/parameters/AuthQueryParam'
      - $ref: '#/components/parameters/ListQueryParam'
      - $ref: '#/components/parameters/AddQueryParam'
      - $ref: '#/components/parameters/RemoveQueryParam'
      - $ref: '#/components/parameters/EnvironmentQueryParam'
      - $ref: '#/components/parameters/TopicQueryParam'
      - $ref: '#/components/parameters/SignatureQueryParam'
      - $ref: '#/components/parameters/TimestampQueryParam'
      responses:
        '200':
          description: OK  
          content:
            application/json:
             schema:
              $ref: '../responses.yaml#/ManageChannelDeviceResponse'
        '400':
          description: Bad Request  
          content:
            application/json:
             schema:
              $ref: '../responses.yaml#/InvalidSubscribeKeyError'

  /v2/push/sub-key/{sub_key}/devices-apns2/{devices-apns2}/remove:
    get:
      tags:
      - Push Notifications
      summary: Remove a device from a channel
      operationId: removeDeviceAPNS2
      description: > 
        Bulk modification of a device, allowing for removal of all registered channels at once, 
        for a given device, without specifying all of the channels.

        Returns array with two elements:
        * Array Element 0 - Integer – 1 or 0, where 1 is success, and 0 is error.
        * Array Element 1 - String – Description of the success or error, if available. e.g "Removed Device"
      parameters:
      - $ref: '#/components/parameters/SubKeyPathParam'
      - $ref: '#/components/parameters/DeviceApns2PathParam'
      - $ref: '#/components/parameters/UuidQueryParam'
      - $ref: '#/components/parameters/AuthQueryParam'
      - $ref: '#/components/parameters/AddQueryParam'
      - $ref: '#/components/parameters/RemoveQueryParam'
      - $ref: '#/components/parameters/EnvironmentQueryParam'
      - $ref: '#/components/parameters/TopicQueryParam'
      - $ref: '#/components/parameters/SignatureQueryParam'
      - $ref: '#/components/parameters/TimestampQueryParam'
      responses:
        '200':
          description: OK  
          content:
            application/json:
             schema:
              $ref: '../responses.yaml#/ManageChannelDeviceResponse'
        '400':
          description: Bad Request  
          content:
            application/json:
             schema:
              $ref: '../responses.yaml#/InvalidSubscribeKeyError'
  /v1/push/sub-key/{sub_key}/devices/{push_token}:
    get:
      tags:
      - Push Notifications
      summary: Listing/Adding/Removing registrations for device
      operationId: manageDeviceRegistrations
      description: > 
        List/Add/Remove registrations for device

        Returns array with two elements:
        * Array Element 0 - Integer – 1 or 0, where 1 is success, and 0 is error.
        * Array Element 1 - String – Description of the success or error, if available. e.g "Modified Channels"
      parameters:
      - $ref: '#/components/parameters/SubKeyPathParam'
      - $ref: '#/components/parameters/PushTokenPathParam'
      - $ref: '#/components/parameters/AddQueryParam'
      - $ref: '#/components/parameters/RemoveQueryParam'
      - $ref: '#/components/parameters/TypeQueryParam'
      - $ref: '#/components/parameters/UuidQueryParam'
      - $ref: '#/components/parameters/SignatureQueryParam'
      - $ref: '#/components/parameters/TimestampQueryParam'
      responses:
        '200':
          description: OK  
          content:
            application/json:
             schema:
              $ref: '../responses.yaml#/ManageChannelDeviceResponse'
        '400':
          description: Bad Request  
          content:
            application/json:
             schema:
              $ref: '../responses.yaml#/InvalidSubscribeKeyError'
  /v1/push/sub-key/{sub_key}/devices/{push_token}/remove:
    get:
      tags:
      - Push Notifications
      summary: Removing a device
      operationId: removeDevice
      description: >
        Remove all registrations for a device

        Returns array with two elements:
        * Array Element 0 - Integer – 1 or 0, where 1 is success, and 0 is error.
        * Array Element 1 - String – Description of the success or error, if available. e.g "Removed Device"
      parameters:
      - $ref: '#/components/parameters/SubKeyPathParam'
      - $ref: '#/components/parameters/PushTokenPathParam'
      - $ref: '#/components/parameters/TypeQueryParam'
      - $ref: '#/components/parameters/UuidQueryParam'
      - $ref: '#/components/parameters/SignatureQueryParam'
      - $ref: '#/components/parameters/TimestampQueryParam'    
      responses:
        '200':
          description: Success  
          content:
            application/json:
             schema:
              $ref: '../responses.yaml#/ManageChannelDeviceResponse'
        '400':
          description: Bad Request  
          content:
            application/json:
             schema:
              $ref: '../responses.yaml#/InvalidSubscribeKeyError'
components:
  parameters:
    SubKeyPathParam:
      name: sub_key
      in: path
      description: The subscriber key.
      required: true
      schema:
        type: string
        example: sub-c-406fe670-ff0a-11e8-a860-92908bb92f21
    DeviceApns2PathParam:
      name: devices-apns2
      in: path
      description: the id/token of the device
      required: true
      schema:
        type: string
      example: A332C23D
    UuidQueryParam:
      name: uuid
      in: query
      description: UUID of the client
      required: true
      schema:
        type: string
      example: db9c5e39-7c95-40f5-8d71-125765b6f561        
    AuthQueryParam:
      name: auth
      in: query
      description: PAM authorization key
      required: true
      schema:
        type: string
      example: 385dfa9c-6a16-4145-aaf9-043f0060c7d3
    ListQueryParam:
      name: list
      in: query
      description: indicates list of channels to which the device should be added, for push registration (mulitple channels are also supported by comma delimited (ch1,ch2,ch3) will add three channels)
      required: true
      schema:
        type: string
      example: channel1     
    AddQueryParam:
      name: add
      in: query
      description: indicates list of channels to which the device should be added, for push registration (mulitple channels are also supported by comma delimited (ch1,ch2,ch3) will add three channels)
      required: true
      schema:
        type: string
      example: channel1
    RemoveQueryParam:
      name: remove
      in: query
      description: name of the channel for which the device will no longer recieve push notifications (mulitple channels are also supported by commad delimited (ch1,ch2,ch3) will remove three channels)
      required: true
      schema:
        type: string
      example: channel1 
    EnvironmentQueryParam:
      name: environment
      in: query
      description: either "development" or "production", denoting the environment of the mobile application
      required: true
      schema:
        type: string
      example: development
    TopicQueryParam:
      name: topic
      in: query
      description: bundle id of the mobile application
      required: true
      schema:
        type: string
      example: com.my.app.Application  
    PushTokenPathParam:
      name: push_token
      in: path
      description: the push token of the device
      required: true
      schema:
        type: string
      example: A332C23D    
    TypeQueryParam:
      name: type
      in: query
      description: indicates the backend to use (apns for apple, gcm for google, mpns for microsoft)
      required: true
      schema:
        type: string
        enum: [apns, gcm, mpns]
      example: apns
    SignatureQueryParam:
      name: signature
      in: query
      description: |
        Signature used to verify that the request was signed with the secret key associated with the subscriber key.

        If Access Manager is enabled, either a valid authorization token or a signature are required.

        See Access Manager documentation for details on how to compute the signature.
      schema:
        type: string
        example: v2.YmvbpzHJlUDIMJOfD_CnsA8Uw2BJhwPeFZO1Qu5tfC4
    TimestampQueryParam:
      name: timestamp
      in: query
      description: |
        Unix epoch timestamp used as a nonce for signature computation. Must have no more than ± 60 second offset from NTP.

        Required if `signature` parameter is supplied.
      schema:
        type: integer
        example: 1563226304