import {
  Logger,
  Parser,
  Networking,
  TokenManager,
} from "pubnub-core";
{{> includes/importEndpointMethodParamTypes}}

export class {{title}} {
  private httpMethod: string = '{{httpMethod}}';

  constructor(
    public net: Networking,
    public parse: Parser,
    public log: Logger,
    public token: TokenManager,
  ) {}

  static validate({{> includes/parameterList }}): boolean {

{{#parameters}}
{{> includes/parameterValidate }}

{{/parameters}}
    return true;
  }

  static execute({{> includes/parameterList }}): boolean {
    // ...
    return true;
  }

}