    {{titlePropertyName}}({{> includes/parameterList }}) {
        if ({{title}}.validate({{> includes/parameterCallingList }})) {
            return {{title}}.execute({{> includes/parameterCallingList }});
        }
    }       